

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }

  .bg-table {
    background-color: #ffffff;
  }

  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}

  .bg-1 { 
    background-color: #9c1203a9 ; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #d3a425be; /* Dark Blue */
    color: #000000;
  }
  .bg-3 { 
    background-color: #ffffffa6; /* White */
    color: #000000;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #FFFF !important;
  }

  .navbar-brand{
      font-size: 55px;
  }

  
